body {
  margin: 0px;
  overflow: hidden;
  background: rgba(0,0,0);
  font-family: 'Roboto', sans-serif;
}

#subtitle {
  color: #A1C3D1;
  font-size: x-large;
  margin-left: 47%;
  margin-top: 1%;
  width: 35%;
  font-size: 3vw;
  text-align: left;
  text-shadow: 4px 4px #F172A1;
  position: relative;
}

#logo {
  width: 20vw;
  margin-top: 13%;
  margin-left: 15%;
  z-index: 0;
}

#sign_up {
  left: 47%;
}

#apply_now:hover {
  background-color: black;
  color: white;
  border-color: #f0ebf4;
}

#apply_now {
  background-color: black;
  border-color: pink;
  color: white;
  margin-left: 47%;
  margin-top: 2%;
}

#content_start {
  color: #f0ebf4;
  text-align: center;
  margin-top: 20%;
  width: 80%;
  margin-left: 8%;
}

#text {
  color: white;
  left: 2%;
  text-align: center;
  right: 2%;
  margin-left: 5%;
  width: 90%;
}

#canvas {
  width: 95%;
}

#name {
  color: #a1c3d1;
  font-size: x-large;
  margin-left: 47%;
  margin-top: -16%;
  font-size: 5vw;
  width: 35%;
  text-shadow: 4px 4px #F172A1;
  text-align: left;
  position: relative;
}

